.btn-facebook {
  background-color: $facebook-color;
  color: white;
  outline: none;
  &:hover {
    background-color: $facebook-color-hover;
  }
}

.btn-google {
  background-color: $google-plus-color;
  color: white;
  outline: none;
  &:hover {
    background-color: $google-plus-color-hover;
  }
}

.btn-toggle {
  background-color: $panels-background-color-basic;
  color: $panels-color-basic;
}

.btn-toggle:hover {
  color: rgba(255, 255, 255, 0.75);
}
