.comments-container {
  background-color: $background-basic;
  border-radius: 0.25rem;
  margin-top: 10px;
  padding: 5px;
  height: 30vh;
  overflow: auto;
}

.comments-container::-webkit-scrollbar {
  display: none;
}
