.comments-container {
  background-color: #c2e7d5;
  border-radius: 0.25rem;
  margin-top: 10px;
  padding: 5px;
  height: 45vh;
  overflow: auto;
}

.comments-container::-webkit-scrollbar {
  display: none;
}
