.homepage-container {
  position: absolute;
  background-color: $background-basic;
  padding-top: 75px;
  width: 100%;
}

a {
  .card {
    h5,
    p {
      color: #212529;
    }
  }
}

.card-columns {
  margin: 0 10%;
}

@media screen and (min-width: 993px) {
  .card-columns {
    width: 60%;
    float: right;
  }
}
