.homepage-container {
  position: absolute;
  overflow: auto;
  background-color: $background-basic;
  padding-top: 75px;
  height: 100%;
  width: 100%;
}

.card-columns {
  margin: 0 10%;
}

@media screen and (min-width: 993px) {
  .card-columns {
    width: 60%;
    float: right;
  }
}
