.background-form {
  width: 100%;
  height: 100vh;
  background: #ffffff url("../assets/img-1.jpg") no-repeat center;
  background-size: cover;
  overflow: auto;
}

.form-container {
  position: relative;
  top: 15%;
  max-width: 300px;
  background-color: white;
  padding: 15px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-color: $background-basic;
  border-radius: 50%;
}

/*
  Mobiles
*/

@media screen and (max-width: 481px) {
  .form-container {
    top: 50px;
    max-width: 100%;
    height: 100%;
  }
}
