.navbar {
  background-color: #193446;
}

.fa-search {
  color: $panels-color-basic;
  margin-left: 5vw;
}

.search-bar {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin-left: 15px;
  color: $panels-color-basic;
  opacity: 0.2;
  border-bottom: 1px solid $panels-color-basic;
  transition: opacity ease-in-out 0.2s;
}

.nav-link {
  color: $panels-color-basic;
}

.search-bar:focus {
  opacity: 1;
}

.dropdown-menu {
  background-color: $panels-background-color-basic;
  color: $panels-color-basic;
}

.dropdown-toggle::after {
  display: none;
}

.btn-dropdown {
  width: 100%;
}
