.new-path-container {
  background-color: $background-basic;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-top: 75px;
  overflow: auto;
}

.marker-input-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .desc-form {
    margin-top: 15px;
  }
}
