/*
  Colors
*/

$background-basic: rgba(235, 236, 237, 1);
$panels-background-color-basic: rgba(25, 52, 70, 1);
$panels-color-basic: rgba(255, 255, 255, 0.5);

/*
  Button Colors
*/

$facebook-color: rgba(66, 103, 178, 1);
$facebook-color-hover: rgba(45, 67, 115, 1);
$google-plus-color: rgba(221, 75, 57, 1);
$google-plus-color-hover: rgba(194, 51, 33, 1);
