.description {
  text-align: justify;
  width: 100%;
}

.description-container {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .description-container {
    margin-top: 15px;
  }
}
