.bubble-container {
  background-color: #C2E7D5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 30vh;
  min-height: 260px;
  padding: 35px 13% 0;
  box-shadow: 2px 2px 23px rgba(194, 231, 213, 0.5);
  transition: height ease-in-out 0.2s;
  &:hover {
    height: 37vh;
    .img-1,
    .img-3 {
      transform: translateY(25%);
    }
    .img-0,
    .img-2,
    .img-4 {
      transform: translateY(-10%);
    }
  }
}

.img-container {
  padding: 0 2%;
}

.img-0,
.img-1,
.img-2,
.img-3,
.img-4 {
  border-radius: 50%;
  max-height: 175px;
  max-width: 175px;
  width: 14vw;
  height: 14vw;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s ease-in-out;
  &:hover {
    box-shadow: 0 7px 15px 6px rgba(0, 0, 0, 0.2);
    //  TODO translateY attribute gets overwritten by that
    transform: scale(1.2, 1.2)  !important;
  }
}
