.comments-container {
  background-color: #C2E7D5;
  border-radius: 8px;
  margin-top: 10px;
  padding: 5px;
  height: 30vh;
  overflow: auto;
}

.comments-container::-webkit-scrollbar {
  display: none;
}
