/*
  Imports
 */
@import "App";
@import "Map";
@import "Path";
@import "BubbleImageContainer";
@import "NavBar";
@import "WoanderDescription";
@import "WoanderTitle";
@import "CommentPath";

/*
  Global Styles
 */
body, main, .App, #root {
  height: 100%;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 1.8rem;
}

a,
a:focus,
a:active {
  outline: none;
}
