/*
  Imports
 */
@import "variables";
@import "App";
@import "Map";
@import "Path";
@import "BubbleImageContainer";
@import "NavBar";
@import "WoanderDescription";
@import "WoanderTitle";
@import "CommentPath";
@import "LoginForm";
@import "buttons";

/*
  Global Styles
 */
body,
main,
.App,
#root {
  height: 100%;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 1.8rem;
}

a,
a:focus,
a:active {
  outline: none;
}

.text-small {
  font-size: 13px;
  text-align: center;
}
