/*
  Imports
 */
@import "App";
@import "Map";
@import "Path";
@import "BubbleImageContainer";
@import "NavBar";
@import "WoanderDescription";
@import "WoanderTitle";

/*
  Global Styles
 */
html, body, main, .App, #root {
  height: 100%;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 1.8rem;
}
