.map-container {
  position: fixed;
  width: 43%;
  overflow: auto;
}

.map {
  height: 30vh;
  min-height: 150px;
  width: 100%;
  max-width: 1140px;
  box-shadow: 2px 2px 23px rgba(0, 0, 0, 0.3);
  border: #F0F8FF 6px solid;
  border-radius: 6px;
  margin-top: 10px;
}

/*
  Small devices (landscape phones, 576px and down)
 */
@media (max-width: 576px) {
}

/*
  Medium devices (tablets, 768px and down)
*/
@media (max-width: 768px) {
  .map {
    width: 100%;
  }

  .map-container {
    width: 100%;
    position: initial;
    margin-bottom: 10px;
  }
}
